body {
    font-family: "Open Sans", sans-serif;
    background-color: #061E44;
    color: #FFFFFF;
}

h6 {
    margin-top: 0;
}


.app__content{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.control__center{

  padding: 15px;
}

.app__container {
    margin: 3% 5%;
}

.slider{
  padding: 0px;
}

.graph__container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 600px;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.app__header__title {
    letter-spacing: 0.23rem;
}

.app__header__title--grey {
    color: #FFFFFF;
}

.app__menu__img {
    height: 50px;
    width: auto;
}
